.leftoptbox{
    border:solid;
    color:green;
    border:solid;
    float:left;
}
.rightoptbox{
    float:right;
    color:green;
    border:solid;
    width:25px;
    height:25px;
}
.left {
  float: left;
}
.parent {
  margin-right: 3px;
  margin-bottom: 3px;
  float: left;
  border:solid;
  width:20px;
  height:20px;
  text-align: left;
  color:green;
}

.new-row {
  clear: left;
 
}