<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery@*"></script>
    <link data-require="jqueryui@*" data-semver="1.10.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
    <script data-require="jqueryui@*" data-semver="1.10.0" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script data-require="angular.js@1.2.11" data-semver="1.2.11" src="http://code.angularjs.org/1.2.11/angular.js"></script>
    <link rel="stylesheet" href="teststyle.css" />


    <script>
        var myModule = angular.module('myApp', []);

        myModule.directive('uiSelectable', function ($parse) {
            return {
                link: function (scope, element, attrs, ctrl) {

                    scope.$on('clearselection', function (event, document) {
                        element.find('.ui-selected').removeClass('ui-selected')
                    });

                    element.selectable({
                        stop: function (evt, ui) {
                            var collection = scope.$eval(attrs.docArray)
                            var selected = element.find('div.parent.ui-selected').map(function () {
                                var idx = $(this).index();
                                return { document: collection[idx] }
                            }).get();

                            scope.selectedItems = selected;
                            scope.$apply()
                        }
                    });
                }
            }
        });

        myModule.controller('TempController', ['$scope', '$rootScope', '$timeout', function ($scope, $rootScope, $timeout) {



            $scope.selectedItems = [];
            $scope.$watch('selectedItems', function (data) {

            });

            $scope.clearSelection = function () {
                $scope.selectedItems = [];

                $timeout(function () {
                    $rootScope.$broadcast('clearselection', '');
                }, 100);
            }


        }]);
        myModule.controller("dayCalculateController", function ($scope, $parse) {
            var mounthlenghts = [
                       { "name": "jan", "day": 31 },
                       { "name": "feb", "day": 28 },
                       { "name": "Mar", "day": 31 },
                       { "name": "Apr", "day": 30 },
                       { "name": "may", "day": 31 },
                       { "name": "jun", "day": 30 },
                       { "name": "Jul", "day": 31 },
                       { "name": "Aug", "day": 31 },
                       { "name": "Seb", "day": 30 },
                       { "name": "Oct", "day": 31 },
                       { "name": "Nov", "day": 30 },
                       { "name": "Dec", "day": 31 }];


            var arraya = new Array();
            arraya = [];
            var arrayb = new Array();
            arrayb = [];
            var arrayc = new Array();
            arrayc = [];
            var time = [];
            var day, mounth = 0,x=0;
            
            while (mounth < 12) {
                for (day = 1; day <= mounthlenghts[mounth].day; day++) {
                var h = 24;
                    while (h>0) {
                        time = {
                            hour: h,
                            day: day,
                            "mounth": mounthlenghts[mounth].name,
                        }
                        arraya.push(time);
                        h--;
                        x++;
                    }
                   
                    //  $scope.documents.push(time);
                    // $scope.document = $parse('time');

                }

                mounth++;

            }
            $scope.documents = arrayc.concat(arraya, arrayb);
            console.log(x);

            // here is so important plss give more attention , good luck
        });



    </script>
</head>

<body ng-app="myApp">
                    <div ng-controller="TempController">
                        <div ng-controller="dayCalculateController">
                           
                            <div class="icerik">

                                <div ui-selectable doc-array="documents">                                 

                                        <div class="parent" ng-repeat="document in documents">
                                            <span >{{document.hour}}</span>
                                        </div> 
                                    <button ng-click="clearSelection()">Cancel</button>
                                    <pre>{{selectedItems|json}}</pre>                                     
                                </div>
                                
                            </div>
                             
                        </div>
                        </div>
</body>
</html>
