<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery@*"></script>
    <link data-require="jqueryui@*" data-semver="1.10.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
    <script data-require="jqueryui@*" data-semver="1.10.0" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
  <script data-require="angular.js@1.2.11" data-semver="1.2.11" src="http://code.angularjs.org/1.2.11/angular.js"></script>
    <link rel="stylesheet" href="teststyle.css" />
   
    
    <script>
        var myModule = angular.module('myApp', []);

        myModule.directive('uiSelectable', function ($parse) {
            return {
                link: function (scope, element, attrs, ctrl) {

                    scope.$on('clearselection', function (event, document) {
                        element.find('.ui-selected').removeClass('ui-selected')
                    });

                    element.selectable({
                        stop: function (evt, ui) {
                            var collection = scope.$eval(attrs.docArray)
                            var selected = element.find('div.parent.ui-selected').map(function () {
                                var idx = $(this).index();
                                return { document: collection[idx] }
                            }).get();

                            scope.selectedItems = selected;
                            scope.$apply()
                        }
                    });
                }
            }
        });

        myModule.controller('TempController', ['$scope', '$rootScope', '$timeout', function ($scope, $rootScope, $timeout) {

           

            $scope.selectedItems = [];
            $scope.$watch('selectedItems', function (data) {

            });

            $scope.clearSelection = function () {
                $scope.selectedItems = [];

                $timeout(function () {
                    $rootScope.$broadcast('clearselection', '');
                }, 100);
            }

           $scope.dosomething = function (index) {
               console.log('You clicked ' + index);
               //$scope.document.hour.push(x);

            }
            
        }]);
        myModule.controller("dayCalculateController", function ($scope, $parse) {
            var mounthlenghts = [
                       { "name": "jan", "day": 31 },
                       { "name": "feb", "day": 28 },
                       { "name": "Mar", "day": 31 },
                       { "name": "Apr", "day": 30 },
                       { "name": "may", "day": 31 },
                       { "name": "jun", "day": 30 },
                       { "name": "Jul", "day": 31 },
                       { "name": "Aug", "day": 31 },
                       { "name": "Seb", "day": 30 },
                       { "name": "Oct", "day": 31 },
                       { "name": "Nov", "day": 30 },
                       { "name": "Dec", "day": 31 }];
            $scope.hours = [0, 1, 2, 3, 4]//,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];

            var arraya = new Array();
            arraya = [];
            var arrayb = new Array();
            arrayb = [];
            var arrayc = new Array();
            arrayc = [];
            var object = [];         
            var i, j = 0;
            while (j < 12) {
                for (i = 0; i < mounthlenghts[j].day; i++) {                  
                    
                    object = {
                        hour:[],
                        day: i,
                        "name": mounthlenghts[j].name,
                    }
                    arraya.push(object);                 
                    
                }             

                j=j+1;

            }
            $scope.documents = arrayc.concat(arraya, arrayb);
           //console.log(arraya);


            // here is so important plss give more attention , good luck
        });

       

    </script>
</head>
<body ng-app="myApp">
    <div ng-controller="TempController">
        <div ng-controller="dayCalculateController">
            <div class="icerik">
                <div ui-selectable doc-array="documents">
                        <div ng-repeat="x in hours">

                            <div ng-repeat="document in documents" style="display: block;">
                                <div class="parent" style="width: 25px; height: 25px; float: left; margin: auto" ng-click="dosomething($indexs)">{{x}}<span ng-click="document.hour.push(x)"></span></div>
                                <!--ng-click="document.hour.push(x)"-->
                            </div>
                        </div>
                    </div>

                </div>
            <button ng-click="clearSelection()">Cancel</button>
            <pre>{{selectedItems|json}}</pre>
               

            </div>
            </div>
     
    
</body>
</html>
