<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myapp">
<head>
    <title></title>
    <script src="angular.min.js"></script>
    <script>
        var app = angular.module("myapp", []);
        app.controller("myController", function ($scope, $http) {
            var url="a.txt";
            var arraya = [];
            var mounths=[];          
           
            $http.get(url).success(function (response) {
                $scope.mounths=response;
            })
       // $scope.arraya.concat(mounths);
            
        });
        
        
    </script>
</head>
<body>
    <div ng-controller="myController">
        <table>
            
            <tr>
                <th> <span ng-repeat="text in arraya">{{text}}<br /></span></th>
                <th><span ng-repeat="x in mounths">{{x}} <br /></span></th>
            </tr>
            
            
        </table>


    </div>

</body>
</html>
