<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="webApp">
<head>
    <title></title>
   
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <link href="testcss.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .selected {
            background-color: red;
        }
    </style>
  
  <script>
      var webApp = angular.module('webApp', []);

      //controllers
      webApp.controller('VotesCtrl', function ($scope, Votes) {
          $scope.votes = Votes;
          $scope.statuses = ["Approved", "Pending", "Trash", "Spam"];

          $scope.setSelected = function () {
              console.log("show");

          }
      });

      //services
      webApp.factory('Votes', [function () {

          //temporary repository till integration with DB this will be translated into restful get query
          var votes = [
              {
                  id: '1',
                  created: 1381583344653,
                  updated: '222212',
                  ratingID: '3',
                  rate: 5,
                  ip: '198.168.0.0',
                  status: 'Pending',
              },
              {
                  id: '111',
                  created: 1381583344653,
                  updated: '222212',
                  ratingID: '4',
                  rate: 5,
                  ip: '198.168.0.1',
                  status: 'Spam'

              },
              {
                  id: '2',
                  created: 1382387322693,
                  updated: '222212',
                  ratingID: '3',
                  rate: 1,
                  ip: '198.168.0.2',
                  status: 'Approved'

              },
              {

                  id: '4',
                  created: 1382387322693,
                  updated: '222212',
                  ratingID: '3',
                  rate: 1,
                  ip: '198.168.0.3',
                  status: 'Spam'
              }
          ];

          return votes;
      }]);
  </script>
</head>
<body ng-controller='VotesCtrl'>
    <div>
        <ul>
            <li class="created">
                <a>CREATED</a>
            </li>
            <li class="ip">
                <b>IP ADDRESS</b>
            </li>
            <li class="status">
                <b>STATUS</b>
            </li>
        </ul>
        <ul ng-repeat="vote in votes" ng-click="setSelected()">
            <li class="created">
                {{vote.created|date}}
            </li>
            <li class="ip">
                {{vote.ip}}
            </li>
            <li class="status">
                {{vote.status}}
            </li>
        </ul>
    </div>
</body>
</html>
