<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title></title>
    <script src="http://code.angularjs.org/snapshot/angular.js"></script>
    <script>
        var app = angular.module("exampleApp", []);        

       


app.controller("defaultCtrl", function ($scope, $location, $anchorScroll) {
    $scope.show = function (id) {
        $location.hash(id);
    }


});

      app.directive("compileDirective", function ($compile) {
            return function (scope, element, attrs) {
                var content = "<b>compile direktifi</b>"
                var listElem = angular.element(content);
                var compileFn = $compile(listElem);
                compileFn(scope);
                element.append(listElem);

            }
            function getData($timeout, $q) {
                return function () {
                    var defer = $q.defer()

                    // simulated async function
                    $timeout(function () {
                        defer.resolve('data received!')
                    }, 2000)

                    return defer.promise
                }
            }
        });
        app.directive("interpolateDirective", function ($scope, $interpolate) {
            return function (scope, element, attrs) {
                var content = "<b>compile direktifi</b>"
                var listElem = angular.element(content);
                var compileFn = $interpolate(listElem);
                compileFn(scope);
                element.append(listElem);
            }
        });
        app.directive("parseDirective", function ($parse) {
            return function (scope, element, attrs) {
                var content = "<b>compile direktifi</b>"
                var listElem = angular.element(content);
                var compileFn = $parse(listElem);
                compileFn(scope);
                element.append(listElem);

            }
        });
       
    </script>
</head>
<body ng-controller="defaultCtrl">
    <div style="position:fixed; margin-left:70%">
        <button  ng-click="show('bottom')">Go to Bottom </button><br /><br />
        <button  ng-click="show('middle')">Go to Middle </button><br /><br />
        <button  ng-click="show('top')">Go to Top</button><br /><br />
        <span><a href="index.html">come back to index</a></span><br /><br />
        
    </div>
    <div style="margin:auto">
        <p id="top"></p>
        <ul><li>top</li></ul>
        <span compile-directive></span>
      
    </div>
    <div style="margin-top:30%">
        <p id="middle"></p>
        <ul><li>middle</li></ul> 
      <span interpolate-directive></span>
        
    </div>
    
    <div style="margin-top:60%">
        <ul><li>
                <p id="bottom"></p>bottom</li></ul>
       <span parse-directive></span>
    </div>

</body>
</html>