<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title></title>
    <script src="http://code.angularjs.org/snapshot/angular.js"></script>
    <script>
        angular.module("exampleApp", [])
        .controller("defaultCtrl", function ($scope, $location, $anchorScroll) {
                $scope.show = function (id) {
                $location.hash(id);
            }
        });
    </script>
</head>
<body ng-controller="defaultCtrl">
    <div style="position:fixed">
        <button  ng-click="show('bottom')">Go to Bottom </button>
        <button  ng-click="show('middle')">Go to Middle </button>
        <button  ng-click="show('top')">Go to Top</button>
        <form method="post" action="/index.html">
            <button type="submit" >go to index</button>
        </form>
        
    </div>
    <div style="margin:auto">
        <p id="top"></p>
        <ul><li>top</li></ul>
      
    </div>
    <div style="margin-top:40%">
        <p id="middle"></p>
        <ul><li>middle</li></ul>     
    </div>
    
    <div style="margin-top:95%">
        <ul>
            <li>
                <p id="bottom"></p>
                bottom
            </li>
        </ul>
    </div>

</body>
</html>