<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery@*"></script>
    <link data-require="jqueryui@*" data-semver="1.10.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
    <script data-require="jqueryui@*" data-semver="1.10.0" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script data-require="angular.js@1.2.11" data-semver="1.2.11" src="http://code.angularjs.org/1.2.11/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <!--<script src="/internshipmaiaplication/angular.min.js"></script>-->
    <script src="angcode.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="TempController">
        <div ng-controller="dayCalculateController">
            <div ui-selectable doc-array="documents">
                <!-- <div class="parent" ng-repeat="document in documents">
             <div ng-repeat="hour in hours" >
                 <span>{{document.day}}</span> <span ng-click="dosomething($index)">Clicke me</span>
             </div>
         </div>   -->
                <span>{{document}}</span>
                <span ng-click="dosomething($index)">Clicke me</span>

                <!--<span eval-expression><span ng-click="dosomething($index)">Clicke me</span><br></span>-->
                <pre>{{selectedItems|json}}</pre>
                <button ng-click="clearSelection()">Cancel</button>
            </div>
                    
              

            

        </div>
    </div>
   
</body>
</html>
