section {
            
        }

            section div {
                border: 1px solid #333;
                margin: 4px;
                width: 48px;
                height: 48px;
                float: left;
            }

                section div.mark {
                    background: blue;
                }

        div.selection {
            border: 1px solid royalblue;
            background: rgba(65, 105, 225, 0.2);
            position: absolute;
            z-index: 9;
        }

            div.selection.hide {
                display: none;
            }
  