<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="Ekleme">
        <input type="text" ng-model="ogrenci.ad" /><br />
        <input type="text" ng-model="ogrenci.soyad" /><br />
        <p> {{ogrenci.tamIsim()}}  </p>
  </div>
    <script>
        var app = angular.module("myapp", []);
        app.controller("Ekleme", function ($scope) {
            $scope.ogrenci={
                ad:"ss",
                soyad: "sss",
                tamIsim: function () {
                    var studentObject;
                    studentObject = $scope.ogrenci;
                    return studentObject.ad + " " + studentObject.soyad;


                }
            
            
            };




        });


    </script>


</body>
</html>
